body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4e73df, #1cc88a);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background: green;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
}

#question {
    margin: 20px 0;
    font-size: 18px;
}

button {
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

#next-btn {
    background-color: #4e73df;
    color: white;
}